*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#score{
    text-align: center;
}

#game{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: 10px auto;
    background-image: url(./assets/background.jpg);
    background-size: cover;
}

#dino{
    height: 75px;
    width: 75px;
    position: relative;
    top: 225px;
    left: 25px;
    background-image: url(./assets/dino.png);
    background-size: cover;
}

#rock{
    height: 50px;
    width: 50px;
    position: relative;
    top: 175px;
    left: 600px;
    background-image: url(./assets/rock.png);
    background-size: cover;
    animation: rock 1.33s infinite;
}

@keyframes rock{
    0%{left: 550px;}

    100%{left: -50px;}
}

.jump-animation{
    animation: jump 0.5s;
}

@keyframes jump{
0%{top: 225px;}

50%{top: 100px;}

100%{top:225px;}
}